@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.cdnfonts.com/css/intro-2");
* {
  padding: 0px;
  margin: 0px;
}

main {
  position: relative;
  background-color: #E1E1E1;
  z-index: 2;
}

.video {
  width: 100%;
  height: 450px;
}

.black-square {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/background-img-video.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.play-button {
  background-image: url(../../images/play.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(255, 255, 255, 0.2901960784);
  border-radius: 19.5px;
  border: none;
  max-width: 134px;
  max-height: 134px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.video-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 1; /* поверх видео-оверлея */
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.services-title {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}

.padding-title {
  padding-left: 30px;
}

.services-text {
  color: #2B2B2B;
  font-family: "Intro Demo", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.work-text {
  color: var(--white, #FFF);
  font-family: "Intro Demo", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 390px;
}

.services-line-size {
  display: flex;
  align-items: center;
}

.services-line {
  max-width: 100%;
}

.services-haircuts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1174px;
  width: 100%;
  gap: 25px;
}

.services-haircut {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-haircut-block {
  width: 370px;
  height: 157px;
  padding-top: 35px;
  border-radius: 20px;
  background: var(--gradient, linear-gradient(101deg, #222 4.27%, #606060 101.18%));
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-haircut-block-2 {
  width: 370px;
  height: 157px;
  padding-top: 35px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rus {
  color: var(--white, #FFF);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.eng {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.services-haircut-button {
  position: relative;
  top: -31px;
}

.services-haircut-button-style {
  width: 266.075px;
  height: 56.345px;
  border-radius: 10px;
  background: var(--green, #1A8149);
  color: var(--white, #FFF);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  /* 1 */
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.06);
}

.services-complexes {
  min-height: 300px;
  max-width: 1174px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(115deg, #272727 13.72%, #1A8149 157.93%);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.block-title {
  padding-top: 20px;
}

.services-complexes-title {
  font-family: "Intro Demo", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(92deg, #FFF 17.49%, rgba(255, 255, 255, 0) 198.72%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-complex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 78px;
}

.my-work {
  height: 650px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.end {
  max-width: 1318px;
  width: 100%;
  padding-left: 44px;
}

.my-work-title {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 33px;
}

.services-line-size-2 {
  height: 1px;
  max-width: 870px;
  width: 100%;
  opacity: 0.4;
  background: linear-gradient(270deg, #FFF 7.08%, rgba(255, 255, 255, 0) 95.93%);
}

.services-line-size {
  height: 1px;
  max-width: 930px;
  width: 100%;
  opacity: 0.4;
  background: linear-gradient(90deg, #000 7.08%, rgba(0, 0, 0, 0) 95.93%);
}

.my-work-photo {
  display: flex;
  gap: 18px;
  width: 100%;
  overflow-x: auto;
}

.my-work-photo::-webkit-scrollbar {
  height: 5px;
}

.my-work-photo::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: white;
  border-radius: 20px;
}

.my-work-container {
  border-radius: 25px;
  max-height: 380px;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.my-work-container img {
  border-radius: 25px;
  max-height: 380px;
  height: 100%;
}

.example {
  height: 500px;
  width: 100%;
  background-color: rgb(54, 42, 42);
}

@media screen and (max-width: 767px) {
  .video {
    height: 382px;
  }
  .block-title {
    padding-top: 30px;
  }
  .services-text {
    font-size: 30px;
  }
  .services-haircut-block {
    width: 325px;
    height: 110px;
  }
  .services-haircut-block-2 {
    width: 325px;
    height: 110px;
  }
  .rus {
    font-size: 20px;
  }
  .eng {
    font-size: 20px;
  }
  .services-complexes-title {
    font-size: 30px;
  }
  .my-work {
    height: 414px;
  }
  .end {
    max-width: 600px;
    width: 100%;
    padding-left: 44px;
  }
  .work-text {
    font-size: 30px;
    width: 220px;
  }
  .my-work-container {
    max-height: 280px;
    height: 100%;
  }
  .my-work-container img {
    max-height: 280px;
    height: 100%;
  }
}
@media screen and (max-width: 610px) {
  .end {
    max-width: 505px;
    width: 100%;
    padding-left: 44px;
  }
}

/*# sourceMappingURL=main.css.map */
